# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
secrets.py

# Logs và cache
logs/
*.log
.cache

# File hệ thống
.DS_Store
Thumbs.db

# Virtual Environment
venv/
.env/
ENV/
../myenv